body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.home {
    width: 100%;
    height: calc(100vh - 120px);
    background: #ffffff;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(154, 25, 194, 0.08) 100%);


}

.home-content {
    display: grid;
    grid-template-columns: 50% 300px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    max-width: 80%;
    gap: 50px;
}

.title-heavy{
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 20px;
}

.img-container {
    max-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn_contact {
    width: 100px;
    height: 60px;
    border-radius: 8px;
    background-color:  #9a19c2;
    transition: all 0.8s ease;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.btn_contact:hover {
    background-color:#b95ad6;
    color: #000000;
    cursor: pointer;
}

.experience-square{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}
.square{
    width: 100%;
    height: 100px;
    background-color: #be8bca3a;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.square h1{
    font-size: 25px;    
    text-align: center;
}
.square span{
    font-size: 14px;
    text-align: center;    
}