
.principal-header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        box-shadow: 0 4px 8px rgba(138, 138, 138, 0.2);
}

.cicle_and_name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.circle-name {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #9a19c2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu {
    width: 100px;
    height: 60px;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.8s ease;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.menu:hover {
    background-color:#9a19c2;
    color: #ffffff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
